In [1]:
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet
from sklearn.model_selection import train_test_split, cross_val_score, RandomizedSearchCV, GridSearchCV
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error, accuracy_score

In [2]:
df = pd.read_excel(
'asia index2.xlsx',
    header =1,
)

df = df.rename(columns={'Unnamed: 0':'Date'})
# print(type(df['Date']))
df

,Date,Indonesia,Laos,Malaysia,Philippines,Singapore,Thailand,Vietnam
0,2014-01-02,4327.265,1261.71,1852.95,5984.26,3174.65,833.29,504.51
1,2014-01-03,4257.663,1251.31,1834.74,5947.93,3131.47,829.89,505.37
2,2014-01-06,4202.809,1258.66,1829.18,5985.81,3123.82,837.68,509.10
3,2014-01-07,4175.806,1258.66,1825.11,5947.44,3120.88,861.63,510.12
4,2014-01-08,4200.593,1266.25,1831.30,5986.48,3150.65,859.35,513.90
5,2014-01-09,4201.218,1266.25,1828.21,5937.51,3145.41,860.00,516.98
6,2014-01-10,4254.971,1263.34,1826.61,5842.88,3143.87,858.25,518.94
7,2014-01-13,4390.771,1263.34,1834.97,5940.67,3135.49,880.70,521.11
8,2014-01-15,4441.594,1245.36,1824.03,5958.12,3143.25,871.02,526.68
9,2014-01-16,4412.489,1245.36,1813.01,5982.24,3140.44,888.02,533.54
10,2014-01-17,4412.228,1244.80,NaN,5987.09,3147.33,883.94,543.59
11,2014-01-20,4431.572,1235.13,1807.59,6005.60,3128.79,879.05,553.67
12,2014-01-21,4452.499,1235.13,1815.34,6019.24,3133.76,880.84,559.91
13,2014-01-22,4477.489,1238.78,1814.10,6139.86,3133.74,879.59,551.92
14,2014-01-23,4496.042,1231.42,1808.31,6170.05,3100.24,894.11,553.55
15,2014-01-24,4437.343,1220.78,1802.57,6191.50,3075.99,898.88,560.19
16,2014-01-27,4322.780,1257.54,1778.88,6081.61,3042.43,878.55,556.52
17,2014-01-28,4341.651,1245.62,1781.25,6022.81,3062.41,865.18,NaN
18,2014-01-29,4417.349,1246.89,1789.23,6069.84,3047.93,863.61,NaN
19,2014-01-30,4418.757,1239.47,1804.03,6041.19,3027.22,857.50,NaN
20,2014-02-03,4386.259,1240.74,NaN,6015.30,2990.95,879.72,NaN
21,2014-02-04,4352.256,1239.77,1778.83,5886.01,2965.80,865.23,NaN
22,2014-02-05,4384.310,1241.33,1785.88,5908.41,2960.09,867.11,NaN
23,2014-02-06,4424.709,1246.49,1797.90,5914.59,2988.27,878.27,554.68
24,2014-02-07,4466.665,1247.46,1808.59,6011.14,3013.14,879.69,549.76
25,2014-02-10,4450.748,1247.46,1816.14,6042.25,3017.20,874.88,555.90
26,2014-02-11,4470.190,1249.14,1824.17,6106.03,3029.10,879.09,553.90
27,2014-02-12,4496.286,1255.91,1825.64,6112.31,3035.45,892.57,564.25
28,2014-02-13,4491.660,1257.85,1817.15,6101.72,3039.90,890.01,570.18
29,2014-02-14,4508.044,1257.85,1819.37,6113.66,3038.71,NaN,572.22
...,...,...,...,...,...,...,...,...
1578,2019-11-19,6152.090,690.75,1605.31,7912.14,3238.87,1084.27,1008.35
1579,2019-11-20,6155.109,682.75,1601.14,7898.06,3229.78,1075.77,1000.56
1580,2019-11-21,6117.364,675.72,1592.19,7818.89,3192.21,1073.10,987.89
1581,2019-11-22,6100.242,675.72,1596.84,7824.59,3225.65,1077.51,977.78
1582,2019-11-25,6070.762,672.17,1591.35,7771.62,3220.63,1089.67,976.35
1583,2019-11-26,6026.188,659.21,1583.87,7707.80,3207.85,1083.70,976.79
1584,2019-11-27,6023.039,659.55,1587.18,7836.89,3215.53,1084.13,978.17
1585,2019-11-28,5953.060,659.34,1583.77,7768.66,3200.61,1077.30,970.39
1586,2019-11-29,6011.830,671.73,1561.74,7738.96,3193.92,1070.23,970.75
1587,2019-12-02,6130.055,NaN,1570.55,7877.19,3187.97,1054.88,959.31
1588,2019-12-03,6133.896,659.74,1562.27,7855.18,3173.08,1054.28,953.43
1589,2019-12-04,6112.879,671.45,1560.93,7815.93,3159.79,1053.40,965.90
1590,2019-12-05,6152.117,670.11,1563.58,7790.91,3174.19,NaN,963.27
1591,2019-12-06,6186.868,663.99,1568.44,7801.72,3194.71,1048.76,963.56
1592,2019-12-09,6193.791,663.99,1562.71,7779.80,3179.82,1047.02,966.06
1593,2019-12-10,6183.505,642.95,1561.79,7736.18,3162.89,NaN,960.30
1594,2019-12-11,6180.099,661.72,1563.19,7786.41,3172.90,1048.85,961.78
1595,2019-12-12,6139.397,674.05,1567.34,7741.07,3194.67,1057.87,968.17
1596,2019-12-13,6197.318,669.27,1571.16,7877.63,3214.05,1066.63,966.18
1597,2019-12-16,6211.592,678.87,1569.35,7701.60,3206.09,1048.08,961.47
1598,2019-12-17,6244.352,679.11,1576.95,7730.45,3200.80,1049.84,954.03
1599,2019-12-18,6287.250,678.69,1599.11,7733.67,3209.54,1062.62,951.13
1600,2019-12-19,6249.930,671.49,1595.72,7653.94,3207.42,1068.39,952.26
1601,2019-12-20,6284.372,685.47,1610.18,7773.12,3212.39,1067.62,956.41
1602,2019-12-23,6305.910,727.80,1614.18,7872.60,3214.00,1069.53,959.43
1603,2019-12-24,NaN,724.14,1604.23,NaN,3221.67,1065.23,958.88
1604,2019-12-25,NaN,724.14,NaN,NaN,3221.67,1067.99,960.92
1605,2019-12-26,6319.443,728.11,1603.55,7842.28,3222.99,1070.74,958.59
1606,2019-12-27,6329.314,NaN,1610.61,7815.26,3226.53,1068.72,963.51
1607,2019-12-30,6299.539,NaN,1615.67,NaN,3222.44,1068.50,965.03

In [3]:
df.isnull().sum()

Date             0
Indonesia      133
Laos           136
Malaysia       139
Philippines    167
Singapore      100
Thailand       172
Vietnam        128
dtype: int64

In [4]:
df = df.fillna(method='ffill')
# df = df.dropna()
df.isnull().sum()

Date           0
Indonesia      0
Laos           0
Malaysia       0
Philippines    0
Singapore      0
Thailand       0
Vietnam        0
dtype: int64

In [5]:
stat = df.describe()
stat

,Indonesia,Laos,Malaysia,Philippines,Singapore,Thailand,Vietnam
count,1608.000000,1608.000000,1608.000000,1608.000000,1608.000000,1608.000000,1608.00000
mean,5536.136718,1063.564384,1728.011381,7516.936692,3169.920498,1021.312320,769.91732
std,637.137830,222.354872,85.417807,555.238089,217.540822,93.383757,186.45646
min,4120.503000,642.950000,1532.140000,5842.880000,2532.700000,761.750000,504.51000
25%,4986.962500,873.535000,1661.800000,7146.330000,3045.862500,950.375000,590.72000
50%,5520.982500,1027.230000,1718.265000,7581.790000,3212.100000,1028.055000,714.81500
75%,6076.733500,1249.860000,1799.170000,7906.707500,3321.787500,1091.550000,962.86250
max,6689.287000,1566.920000,1895.180000,9058.620000,3615.280000,1206.310000,1204.33000

In [6]:
stat.loc['std', 'Indonesia':'Vietnam']

Indonesia      637.137830
Laos           222.354872
Malaysia        85.417807
Philippines    555.238089
Singapore      217.540822
Thailand        93.383757
Vietnam        186.456460
Name: std, dtype: float64

In [7]:
df2 = pd.read_excel(
'kursasean2.xlsx'
)


df2 = df2.fillna(method='ffill')
# df = df.dropna()
df2.isnull().sum()
# df2

Date           0
Indonesia      0
Laos           0
Malaysia       0
Philippines    0
Singapore      0
Thailand       0
Vietnam        0
dtype: int64

In [8]:
df2

,Date,Indonesia,Laos,Malaysia,Philippines,Singapore,Thailand,Vietnam
0,2014-01-02,12150.0,8000.00,3.2850,44.470,1.2672,32.95,21060.0
1,2014-01-03,12160.0,8021.00,3.2850,44.690,1.2670,32.99,21075.0
2,2014-01-06,12170.0,8021.00,3.2835,44.540,1.2677,33.05,21080.0
3,2014-01-07,12230.0,8003.00,3.2830,44.800,1.2710,33.05,21075.0
4,2014-01-08,12225.0,8018.00,3.2710,44.680,1.2730,33.03,21080.0
5,2014-01-09,12185.0,8015.00,3.2750,44.600,1.2704,32.99,21075.0
6,2014-01-10,12155.0,8013.00,3.2680,44.550,1.2635,32.96,21072.0
7,2014-01-13,12045.0,8009.00,3.2600,44.590,1.2646,32.95,21060.0
8,2014-01-15,12080.0,7991.00,3.2860,45.100,1.2726,32.85,21070.0
9,2014-01-16,12115.0,8005.00,3.2960,45.130,1.2713,32.74,21080.0
10,2014-01-17,12085.0,8000.00,3.2960,45.050,1.2760,32.81,21070.0
11,2014-01-20,12105.0,8015.00,3.3150,45.130,1.2762,32.79,21070.0
12,2014-01-21,12125.0,8018.00,3.3230,45.400,1.2780,32.85,21075.0
13,2014-01-22,12135.0,8015.00,3.3220,45.280,1.2788,32.90,21070.0
14,2014-01-23,12160.0,8010.00,3.3290,45.300,1.2782,32.86,21065.0
15,2014-01-24,12175.0,7995.00,3.3330,45.420,1.2785,32.80,21060.0
16,2014-01-27,12225.0,7991.00,3.3435,45.350,1.2763,32.89,21035.0
17,2014-01-28,12185.0,7991.00,3.3340,45.210,1.2751,32.89,21035.0
18,2014-01-29,12160.0,8011.00,3.3365,45.230,1.2767,32.93,21035.0
19,2014-01-30,12205.0,8009.00,3.3450,45.310,1.2750,32.99,21035.0
20,2014-02-03,12235.0,8020.00,3.3450,45.400,1.2757,32.92,21035.0
21,2014-02-04,12195.0,8010.00,3.3235,45.275,1.2684,32.73,21035.0
22,2014-02-05,12188.0,8007.00,3.3125,45.320,1.2679,32.74,21075.0
23,2014-02-06,12175.0,8006.00,3.3215,45.180,1.2683,32.77,21080.0
24,2014-02-07,12155.0,7990.00,3.3290,44.950,1.2680,32.80,21085.0
25,2014-02-10,12170.0,8011.00,3.3350,44.990,1.2703,32.79,21085.0
26,2014-02-11,12140.0,8010.00,3.3265,44.940,1.2673,32.71,21090.0
27,2014-02-12,12080.0,8011.00,3.3210,44.800,1.2657,32.51,21080.0
28,2014-02-13,11970.0,8001.00,3.3235,44.880,1.2646,32.54,21085.0
29,2014-02-14,11820.0,8001.00,3.3065,44.580,1.2590,32.29,21070.0
...,...,...,...,...,...,...,...,...
1578,2019-11-19,14085.0,8823.45,4.1560,50.990,1.3615,30.18,23200.0
1579,2019-11-20,14090.0,8824.45,4.1640,50.930,1.3621,30.18,23199.0
1580,2019-11-21,14080.0,8840.00,4.1680,50.820,1.3628,30.20,23193.0
1581,2019-11-22,14080.0,8823.45,4.1700,50.910,1.3642,30.19,23195.0
1582,2019-11-25,14070.0,8813.48,4.1770,50.810,1.3650,30.21,23197.0
1583,2019-11-26,14080.0,8813.48,4.1810,50.830,1.3645,30.22,23190.0
1584,2019-11-27,14090.0,8860.00,4.1700,50.860,1.3658,30.22,23200.0
1585,2019-11-28,14085.0,8857.00,4.1720,50.810,1.3657,30.23,23200.0
1586,2019-11-29,14100.0,8860.00,4.1750,50.840,1.3677,30.19,23179.0
1587,2019-12-02,14120.0,8831.43,4.1780,51.040,1.3667,30.27,23175.0
1588,2019-12-03,14100.0,8858.00,4.1730,51.080,1.3638,30.26,23170.0
1589,2019-12-04,14100.0,8832.42,4.1750,50.960,1.3628,30.30,23170.0
1590,2019-12-05,14060.0,8833.42,4.1680,50.790,1.3606,30.36,23167.0
1591,2019-12-06,14035.0,8855.00,4.1580,50.800,1.3592,30.35,23175.0
1592,2019-12-09,14010.0,8871.00,4.1590,50.810,1.3599,30.30,23170.0
1593,2019-12-10,14005.0,8837.41,4.1630,50.740,1.3585,30.27,23170.0
1594,2019-12-11,14030.0,8843.39,4.1630,50.770,1.3571,30.22,23175.0
1595,2019-12-12,14020.0,8839.40,4.1580,50.580,1.3517,30.16,23169.0
1596,2019-12-13,13980.0,8838.41,4.1335,50.600,1.3535,30.19,23173.0
1597,2019-12-16,14000.0,8833.42,4.1400,50.540,1.3559,30.20,23176.0
1598,2019-12-17,13985.0,8860.00,4.1410,50.570,1.3553,30.24,23176.0
1599,2019-12-18,13970.0,8855.00,4.1370,50.650,1.3553,30.22,23173.0
1600,2019-12-19,13980.0,8838.41,4.1400,50.590,1.3548,30.18,23169.0
1601,2019-12-20,13970.0,8865.00,4.1380,50.760,1.3546,30.19,23175.0
1602,2019-12-23,13960.0,8853.36,4.1410,50.820,1.3557,30.15,23173.0
1603,2019-12-24,13960.0,8875.00,4.1350,50.800,1.3550,30.13,23176.0
1604,2019-12-25,13960.0,8875.00,4.1350,50.820,1.3550,30.15,23173.0
1605,2019-12-26,13950.0,8843.39,4.1310,50.700,1.3538,30.10,23174.0
1606,2019-12-27,13945.0,8875.00,4.1260,50.810,1.3519,30.13,23171.0
1607,2019-12-30,13920.0,8870.00,4.1045,50.780,1.3486,29.94,23170.0

In [9]:
## convert to US dollar
dfkali = df.loc[0:, 'Indonesia':]
df2kali = df2.loc[0:, 'Indonesia':]
dfgab = dfkali / df2kali
dfgab

,Indonesia,Laos,Malaysia,Philippines,Singapore,Thailand,Vietnam
0,0.356153,0.157714,564.063927,134.568473,2505.247790,25.289530,0.023956
1,0.350137,0.156004,558.520548,133.093086,2471.562747,25.155805,0.023980
2,0.345342,0.156921,557.082382,134.391783,2464.163446,25.345840,0.024151
3,0.341440,0.157274,555.927505,132.755357,2455.452400,26.070499,0.024205
4,0.343607,0.157926,559.859370,133.985676,2474.980361,26.017257,0.024379
5,0.344786,0.157985,558.232061,133.128027,2475.920970,26.068506,0.024530
6,0.350059,0.157661,558.938188,131.153311,2488.223190,26.039138,0.024627
7,0.364531,0.157740,562.874233,133.228751,2479.432232,26.728376,0.024744
8,0.367682,0.155845,555.091296,132.109091,2469.943423,26.515068,0.024997
9,0.364217,0.155573,550.063714,132.555728,2470.258790,27.123396,0.025310
10,0.365100,0.155600,550.063714,132.898779,2466.559561,26.941176,0.025799
11,0.366094,0.154102,545.276018,133.073344,2451.645510,26.808478,0.026278
12,0.367216,0.154045,546.295516,132.582379,2452.081377,26.814003,0.026567
13,0.368973,0.154558,546.086695,135.597615,2450.531749,26.735258,0.026195
14,0.369740,0.153735,543.199159,136.204194,2425.473322,27.209677,0.026278
15,0.364463,0.152693,540.825083,136.316601,2405.936645,27.404878,0.026600
16,0.353602,0.157370,532.041274,134.103859,2383.789078,26.711766,0.026457
17,0.356311,0.155878,534.268146,133.218536,2401.701827,26.305260,0.026457
18,0.363269,0.155647,536.259553,134.199425,2387.350200,26.225630,0.026457
19,0.362045,0.154760,539.321375,133.330170,2374.290196,25.992725,0.026457
20,0.358501,0.154706,539.321375,132.495595,2344.555930,26.722965,0.026457
21,0.356889,0.154778,535.227922,130.005743,2338.221381,26.435380,0.026457
22,0.359723,0.155031,539.133585,130.370918,2334.639956,26.484728,0.026407
23,0.363426,0.155694,541.291585,130.911687,2356.122369,26.801038,0.026313
24,0.367476,0.156128,543.283268,133.729477,2376.293375,26.819817,0.026074
25,0.365715,0.155718,544.569715,134.302067,2375.186964,26.681305,0.026365
26,0.368220,0.155948,548.375169,135.870717,2390.199637,26.875268,0.026264
27,0.372209,0.156773,549.725986,136.435491,2398.238129,27.455245,0.026767
28,0.375243,0.157212,546.757936,135.956328,2403.843112,27.351260,0.027042
29,0.381391,0.157212,550.240436,137.139076,2413.590151,27.563023,0.027158
...,...,...,...,...,...,...,...
1578,0.436783,0.078286,386.263234,155.170426,2378.898274,35.926773,0.043463
1579,0.436842,0.077370,384.519693,155.076772,2371.176859,35.645129,0.043129
1580,0.434472,0.076439,382.003359,153.854585,2342.390666,35.533113,0.042594
1581,0.433256,0.076582,382.935252,153.694559,2364.499340,35.690957,0.042155
1582,0.431469,0.076266,380.979172,152.954537,2359.435897,36.069844,0.042089
1583,0.427996,0.074796,378.825640,151.638796,2350.934408,35.860357,0.042121
1584,0.427469,0.074441,380.618705,154.087495,2354.319813,35.874586,0.042162
1585,0.422652,0.074443,379.618888,152.896280,2343.567401,35.636785,0.041827
1586,0.426371,0.075816,374.069461,152.221873,2335.248958,35.449818,0.041881
1587,0.434140,0.076061,375.909526,154.333660,2332.604083,34.849025,0.041394
1588,0.435028,0.074480,374.375749,153.781911,2326.646136,34.840714,0.041149
1589,0.433538,0.076021,373.875449,153.373823,2318.601409,34.765677,0.041688
1590,0.437562,0.075861,375.139155,153.394566,2332.934000,34.696970,0.041579
1591,0.440817,0.074985,377.210197,153.577165,2350.434079,34.555519,0.041578
1592,0.442098,0.074850,375.741765,153.115528,2338.274873,34.555116,0.041694
1593,0.441521,0.072753,375.159741,152.467087,2328.222304,34.589362,0.041446
1594,0.440492,0.074827,375.496037,153.366358,2338.000147,34.707148,0.041501
1595,0.437903,0.076255,376.945647,153.046066,2363.446031,35.075265,0.041787
1596,0.443299,0.075723,380.104028,155.684387,2374.621352,35.330573,0.041694
1597,0.443685,0.076852,379.070048,152.386229,2364.547533,34.704636,0.041486
1598,0.446504,0.076649,380.813813,152.866324,2361.691138,34.716931,0.041165
1599,0.450054,0.076645,386.538555,152.688450,2368.139895,35.162806,0.041045
1600,0.447062,0.075974,385.439614,151.293536,2367.449070,35.400596,0.041101
1601,0.449848,0.077323,389.120348,153.134752,2371.467592,35.363365,0.041269
1602,0.451713,0.082206,389.804395,154.911452,2370.730988,35.473632,0.041403
1603,0.451713,0.081593,387.963724,154.972441,2377.616236,35.354464,0.041374
1604,0.451713,0.081593,387.963724,154.911452,2377.616236,35.422554,0.041467
1605,0.453007,0.082334,388.174776,154.680079,2380.698774,35.572757,0.041365
1606,0.453877,0.082041,390.356277,153.813423,2386.663215,35.470295,0.041583
1607,0.452553,0.082087,393.633817,153.904293,2389.470562,35.688043,0.041650

In [10]:
dfphilip = dfgab.loc[0:, ['Philippines']]
# df.iloc[0:2, 0:2]
# df[['Date', 'Indonesia']][0:2]
dfphilip

      Philippines
0      134.568473
1      133.093086
2      134.391783
3      132.755357
4      133.985676
5      133.128027
6      131.153311
7      133.228751
8      132.109091
9      132.555728
10     132.898779
11     133.073344
12     132.582379
13     135.597615
14     136.204194
15     136.316601
16     134.103859
17     133.218536
18     134.199425
19     133.330170
20     132.495595
21     130.005743
22     130.370918
23     130.911687
24     133.729477
25     134.302067
26     135.870717
27     136.435491
28     135.956328
29     137.139076
...           ...
1578   155.170426
1579   155.076772
1580   153.854585
1581   153.694559
1582   152.954537
1583   151.638796
1584   154.087495
1585   152.896280
1586   152.221873
1587   154.333660
1588   153.781911
1589   153.373823
1590   153.394566
1591   153.577165
1592   153.115528
1593   152.467087
1594   153.366358
1595   153.046066
1596   155.684387
1597   152.386229
1598   152.866324
1599   152.688450
1600   151.293536
1601   153.134752
1602   154.911452
1603   154.972441
1604   154.911452
1605   154.680079
1606   153.813423
1607   153.904293

[1608 rows x 1 columns]

In [11]:
# a variable for prediction 'n' days out into the future
forecast_out = 1
## create another column (the target or dependent variable) shifted 'n' units up
dfphilip['predictphilippines']= dfphilip[['Philippines']].shift(-forecast_out)

dfphilip

      Philippines  predictphilippines
0      134.568473          133.093086
1      133.093086          134.391783
2      134.391783          132.755357
3      132.755357          133.985676
4      133.985676          133.128027
5      133.128027          131.153311
6      131.153311          133.228751
7      133.228751          132.109091
8      132.109091          132.555728
9      132.555728          132.898779
10     132.898779          133.073344
11     133.073344          132.582379
12     132.582379          135.597615
13     135.597615          136.204194
14     136.204194          136.316601
15     136.316601          134.103859
16     134.103859          133.218536
17     133.218536          134.199425
18     134.199425          133.330170
19     133.330170          132.495595
20     132.495595          130.005743
21     130.005743          130.370918
22     130.370918          130.911687
23     130.911687          133.729477
24     133.729477          134.302067
25     134.302067          135.870717
26     135.870717          136.435491
27     136.435491          135.956328
28     135.956328          137.139076
29     137.139076          138.852319
...           ...                 ...
1578   155.170426          155.076772
1579   155.076772          153.854585
1580   153.854585          153.694559
1581   153.694559          152.954537
1582   152.954537          151.638796
1583   151.638796          154.087495
1584   154.087495          152.896280
1585   152.896280          152.221873
1586   152.221873          154.333660
1587   154.333660          153.781911
1588   153.781911          153.373823
1589   153.373823          153.394566
1590   153.394566          153.577165
1591   153.577165          153.115528
1592   153.115528          152.467087
1593   152.467087          153.366358
1594   153.366358          153.046066
1595   153.046066          155.684387
1596   155.684387          152.386229
1597   152.386229          152.866324
1598   152.866324          152.688450
1599   152.688450          151.293536
1600   151.293536          153.134752
1601   153.134752          154.911452
1602   154.911452          154.972441
1603   154.972441          154.911452
1604   154.911452          154.680079
1605   154.680079          153.813423
1606   153.813423          153.904293
1607   153.904293                 NaN

[1608 rows x 2 columns]

In [12]:
## create the independent data set (x)
# convert the dataframe to a numpy array
xphilip = np.array(dfphilip.drop(['predictphilippines'], axis=1))

xphilip
#remove the 'n' rows
xphilip = xphilip[:-forecast_out]
xphilip
xphilipreshape = xphilip.reshape(-1)
xphilipreshape

array([134.56847313, 133.0930857 , 134.39178267, ..., 154.91145218,
       154.6800789 , 153.81342255])

In [13]:
## create the dependent data set(y)
# convert dataframe to a numpy array (all of the values includeing the NaN's)

yphilip = np.array(dfphilip['predictphilippines'])
#get all of the y values except the last 'n' rows
yphilip = yphilip[:-forecast_out]
yphilip

array([133.0930857 , 134.39178267, 132.75535714, ..., 154.6800789 ,
       153.81342255, 153.90429303])

In [14]:
dfcorrphilip = pd.DataFrame({'yphilip': yphilip, 'xphilip': xphilipreshape})
dfcorrphilip
dfcorrphilip = dfcorrphilip.corr()
dfcorrphilip

         yphilip  xphilip
yphilip  1.00000  0.99145
xphilip  0.99145  1.00000

In [15]:
from sklearn.model_selection import train_test_split
# xtr, xts, ytr, yts = train_test_split(df[['JCI']][:-forecast_out], df['prediction'][:-forecast_out], random_state=10)
xtrphilip, xtsphilip, ytrphilip, ytsphilip = train_test_split(xphilip, yphilip, random_state=5)
xtrphilip

array([[133.07334367],
       [157.11365664],
       [152.19738254],
       ...,
       [166.09266655],
       [160.88550467],
       [159.76372074]])

In [16]:
def evaluate(model, test_features, test_labels):
    predictions = model.predict(test_features)
    errors = abs(predictions - test_labels)
    mape = 100 * np.mean(errors / test_labels)
    accuracy = 100 - mape
    rmse = np.sqrt(mean_squared_error(test_labels, predictions))
    r2 = r2_score(test_labels, predictions)
    print('Model Performance')
    print('Average Error: {:0.4f} degrees.'.format(np.mean(errors)))
    print('Accuracy = {:0.4f}%.'.format(accuracy))
    print('RMSE = {:0.4f}'.format(rmse))
    print('R2 Score = {:0.4f}.'.format(r2))
    vals = [accuracy, rmse, r2]
    return vals

In [17]:
lnr_grid = {
    'fit_intercept': [True, False],
    'normalize': [True, False],
    'copy_X': [True, False],
    'n_jobs':['int', None]
}
print(lnr_grid)

{'fit_intercept': [True, False], 'normalize': [True, False], 'copy_X': [True, False], 'n_jobs': ['int', None]}

In [18]:
lnr = LinearRegression()
lnr_random = RandomizedSearchCV(estimator=lnr, param_distributions=lnr_grid, n_iter=100,
                               cv=5, verbose=2, random_state=41, n_jobs=-1)

lnr_random.fit(xtrphilip, ytrphilip)

Fitting 5 folds for each of 16 candidates, totalling 80 fits

//anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_search.py:281: UserWarning: The total space of parameters 16 is smaller than n_iter=100. Running 16 iterations. For exhaustive searches, use GridSearchCV.
  % (grid_size, self.n_iter, grid_size), UserWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  80 out of  80 | elapsed:    1.2s finished

RandomizedSearchCV(cv=5, error_score=nan,
                   estimator=LinearRegression(copy_X=True, fit_intercept=True,
                                              n_jobs=None, normalize=False),
                   iid='deprecated', n_iter=100, n_jobs=-1,
                   param_distributions={'copy_X': [True, False],
                                        'fit_intercept': [True, False],
                                        'n_jobs': ['int', None],
                                        'normalize': [True, False]},
                   pre_dispatch='2*n_jobs', random_state=41, refit=True,
                   return_train_score=False, scoring=None, verbose=2)

In [19]:
lnr_random.best_params_

{'normalize': True, 'n_jobs': 'int', 'fit_intercept': True, 'copy_X': True}

In [20]:
## LinearRegression with default hyperparameters

base_lnr = LinearRegression()
base_lnr.fit(xtrphilip, ytrphilip)
base_lnr_accuracy = evaluate(base_lnr, xtsphilip, ytsphilip)

Model Performance
Average Error: 1.1594 degrees.
Accuracy = 99.2395%.
RMSE = 1.6158
R2 Score = 0.9764.

In [21]:
## LinearRegression with default best hyperparameters

best_lnr = lnr_random.best_estimator_
best_lnr.fit(xtrphilip, ytrphilip)
best_lnr_accuracy = evaluate(best_lnr, xtsphilip, ytsphilip)
best_lnr_accuracy

Model Performance
Average Error: 1.1594 degrees.
Accuracy = 99.2395%.
RMSE = 1.6158
R2 Score = 0.9764.

[99.23953840929785, 1.6157981992359276, 0.9763947388730899]

## Ridge

In [22]:
rdg_grid = {
    'alpha': np.arange(1,2,0.01),
    'fit_intercept': [True, False],
    'max_iter': [10,100,1000,10000,100000],
    'solver': ['auto', 'svd', 'cholesky', 'lsqr', 'sparse_cg', 'sag', 'saga']
}
print(rdg_grid)

{'alpha': array([1.  , 1.01, 1.02, 1.03, 1.04, 1.05, 1.06, 1.07, 1.08, 1.09, 1.1 ,
       1.11, 1.12, 1.13, 1.14, 1.15, 1.16, 1.17, 1.18, 1.19, 1.2 , 1.21,
       1.22, 1.23, 1.24, 1.25, 1.26, 1.27, 1.28, 1.29, 1.3 , 1.31, 1.32,
       1.33, 1.34, 1.35, 1.36, 1.37, 1.38, 1.39, 1.4 , 1.41, 1.42, 1.43,
       1.44, 1.45, 1.46, 1.47, 1.48, 1.49, 1.5 , 1.51, 1.52, 1.53, 1.54,
       1.55, 1.56, 1.57, 1.58, 1.59, 1.6 , 1.61, 1.62, 1.63, 1.64, 1.65,
       1.66, 1.67, 1.68, 1.69, 1.7 , 1.71, 1.72, 1.73, 1.74, 1.75, 1.76,
       1.77, 1.78, 1.79, 1.8 , 1.81, 1.82, 1.83, 1.84, 1.85, 1.86, 1.87,
       1.88, 1.89, 1.9 , 1.91, 1.92, 1.93, 1.94, 1.95, 1.96, 1.97, 1.98,
       1.99]), 'fit_intercept': [True, False], 'max_iter': [10, 100, 1000, 10000, 100000], 'solver': ['auto', 'svd', 'cholesky', 'lsqr', 'sparse_cg', 'sag', 'saga']}

In [23]:
rdg = Ridge()
rdg_random = RandomizedSearchCV(estimator=rdg, param_distributions=rdg_grid, n_iter=100,
                               cv=5, verbose=2, random_state=41, n_jobs=-1)

rdg_random.fit(xtrphilip, ytrphilip)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

Fitting 5 folds for each of 100 candidates, totalling 500 fits

[Parallel(n_jobs=-1)]: Done 500 out of 500 | elapsed:    0.5s finished

RandomizedSearchCV(cv=5, error_score=nan,
                   estimator=Ridge(alpha=1.0, copy_X=True, fit_intercept=True,
                                   max_iter=None, normalize=False,
                                   random_state=None, solver='auto',
                                   tol=0.001),
                   iid='deprecated', n_iter=100, n_jobs=-1,
                   param_distributions={'alpha': array([1.  , 1.01, 1.02, 1.03, 1.04, 1.05, 1.06, 1.07, 1.08, 1.09, 1.1 ,
       1.11, 1.12, 1.13, 1.14, 1.15, 1.16, 1.17, 1.18, 1.19, 1.2 , 1.21,...
       1.66, 1.67, 1.68, 1.69, 1.7 , 1.71, 1.72, 1.73, 1.74, 1.75, 1.76,
       1.77, 1.78, 1.79, 1.8 , 1.81, 1.82, 1.83, 1.84, 1.85, 1.86, 1.87,
       1.88, 1.89, 1.9 , 1.91, 1.92, 1.93, 1.94, 1.95, 1.96, 1.97, 1.98,
       1.99]),
                                        'fit_intercept': [True, False],
                                        'max_iter': [10, 100, 1000, 10000,
                                                     100000],
                                        'solver': ['auto', 'svd', 'cholesky',
                                                   'lsqr', 'sparse_cg', 'sag',
                                                   'saga']},
                   pre_dispatch='2*n_jobs', random_state=41, refit=True,
                   return_train_score=False, scoring=None, verbose=2)

In [24]:
rdg_random.best_params_

{'solver': 'sag',
 'max_iter': 100,
 'fit_intercept': True,
 'alpha': 1.9300000000000008}

In [25]:
## Ridge with default hyperparameter
base_rdg = Ridge()
base_rdg.fit(xtrphilip, ytrphilip)
base_rdg_accuracy = evaluate(base_rdg, xtsphilip, ytsphilip)

Model Performance
Average Error: 1.1594 degrees.
Accuracy = 99.2395%.
RMSE = 1.6158
R2 Score = 0.9764.

In [26]:
## Ridge with best hyperparameters

best_rdg = rdg_random.best_estimator_
best_rdg.fit(xtrphilip, ytrphilip)
best_rdg_accuracy = evaluate(best_rdg, xtsphilip, ytsphilip)

Model Performance
Average Error: 1.1869 degrees.
Accuracy = 99.2195%.
RMSE = 1.6534
R2 Score = 0.9753.

## Lasso

In [27]:
las_grid = {
    'alpha': np.arange(1,2,0.01),
    'fit_intercept': [True, False],
    'max_iter': [10,100,1000,10000,100000],
    'precompute': [True, False],
    'warm_start': [True, False],
    'random_state': np.arange(20,30,1),
    'selection': ['random', 'cyclic']
}
print(las_grid)

{'alpha': array([1.  , 1.01, 1.02, 1.03, 1.04, 1.05, 1.06, 1.07, 1.08, 1.09, 1.1 ,
       1.11, 1.12, 1.13, 1.14, 1.15, 1.16, 1.17, 1.18, 1.19, 1.2 , 1.21,
       1.22, 1.23, 1.24, 1.25, 1.26, 1.27, 1.28, 1.29, 1.3 , 1.31, 1.32,
       1.33, 1.34, 1.35, 1.36, 1.37, 1.38, 1.39, 1.4 , 1.41, 1.42, 1.43,
       1.44, 1.45, 1.46, 1.47, 1.48, 1.49, 1.5 , 1.51, 1.52, 1.53, 1.54,
       1.55, 1.56, 1.57, 1.58, 1.59, 1.6 , 1.61, 1.62, 1.63, 1.64, 1.65,
       1.66, 1.67, 1.68, 1.69, 1.7 , 1.71, 1.72, 1.73, 1.74, 1.75, 1.76,
       1.77, 1.78, 1.79, 1.8 , 1.81, 1.82, 1.83, 1.84, 1.85, 1.86, 1.87,
       1.88, 1.89, 1.9 , 1.91, 1.92, 1.93, 1.94, 1.95, 1.96, 1.97, 1.98,
       1.99]), 'fit_intercept': [True, False], 'max_iter': [10, 100, 1000, 10000, 100000], 'precompute': [True, False], 'warm_start': [True, False], 'random_state': array([20, 21, 22, 23, 24, 25, 26, 27, 28, 29]), 'selection': ['random', 'cyclic']}

In [28]:
las = Lasso()
las_random = RandomizedSearchCV(estimator=las, param_distributions=las_grid, n_iter=100,
                               cv=5, verbose=2, random_state=41, n_jobs=-1)

las_random.fit(xtrphilip, ytrphilip)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

Fitting 5 folds for each of 100 candidates, totalling 500 fits

[Parallel(n_jobs=-1)]: Done 500 out of 500 | elapsed:    0.3s finished

RandomizedSearchCV(cv=5, error_score=nan,
                   estimator=Lasso(alpha=1.0, copy_X=True, fit_intercept=True,
                                   max_iter=1000, normalize=False,
                                   positive=False, precompute=False,
                                   random_state=None, selection='cyclic',
                                   tol=0.0001, warm_start=False),
                   iid='deprecated', n_iter=100, n_jobs=-1,
                   param_distributions={'alpha': array([1.  , 1.01, 1.02, 1.03, 1.04, 1.05, 1.06, 1.07, 1.08, 1.09, 1.1...
       1.88, 1.89, 1.9 , 1.91, 1.92, 1.93, 1.94, 1.95, 1.96, 1.97, 1.98,
       1.99]),
                                        'fit_intercept': [True, False],
                                        'max_iter': [10, 100, 1000, 10000,
                                                     100000],
                                        'precompute': [True, False],
                                        'random_state': array([20, 21, 22, 23, 24, 25, 26, 27, 28, 29]),
                                        'selection': ['random', 'cyclic'],
                                        'warm_start': [True, False]},
                   pre_dispatch='2*n_jobs', random_state=41, refit=True,
                   return_train_score=False, scoring=None, verbose=2)

In [29]:
las_random.best_params_

{'warm_start': True,
 'selection': 'cyclic',
 'random_state': 23,
 'precompute': False,
 'max_iter': 100,
 'fit_intercept': False,
 'alpha': 1.07}

In [30]:
## lasso with default hyperparameters

base_las = Lasso()
base_las.fit(xtrphilip, ytrphilip)
base_las_accuracy = evaluate(base_rdg, xtsphilip, ytsphilip)

Model Performance
Average Error: 1.1594 degrees.
Accuracy = 99.2395%.
RMSE = 1.6158
R2 Score = 0.9764.

In [31]:
## Lasso with best hyperparameters

best_las = las_random.best_estimator_
best_las.fit(xtrphilip, ytrphilip)
best_las_accuracy = evaluate(best_las, xtsphilip, ytsphilip)

Model Performance
Average Error: 1.1588 degrees.
Accuracy = 99.2396%.
RMSE = 1.6215
R2 Score = 0.9762.

## ElasticNet

In [32]:
elas_grid = {
    'alpha': np.arange(1,2,0.01),
    'l1_ratio': np.arange(0.1,1,0.01),
    'fit_intercept': [True, False],
    'precompute': [True, False],
    'max_iter': [10,100,1000,10000,100000],
    'warm_start': [True, False],
    'positive': [True, False],
    'random_state': np.arange(20,30,1),
    'selection': ['random', 'cyclic']
}
print(elas_grid)

{'alpha': array([1.  , 1.01, 1.02, 1.03, 1.04, 1.05, 1.06, 1.07, 1.08, 1.09, 1.1 ,
       1.11, 1.12, 1.13, 1.14, 1.15, 1.16, 1.17, 1.18, 1.19, 1.2 , 1.21,
       1.22, 1.23, 1.24, 1.25, 1.26, 1.27, 1.28, 1.29, 1.3 , 1.31, 1.32,
       1.33, 1.34, 1.35, 1.36, 1.37, 1.38, 1.39, 1.4 , 1.41, 1.42, 1.43,
       1.44, 1.45, 1.46, 1.47, 1.48, 1.49, 1.5 , 1.51, 1.52, 1.53, 1.54,
       1.55, 1.56, 1.57, 1.58, 1.59, 1.6 , 1.61, 1.62, 1.63, 1.64, 1.65,
       1.66, 1.67, 1.68, 1.69, 1.7 , 1.71, 1.72, 1.73, 1.74, 1.75, 1.76,
       1.77, 1.78, 1.79, 1.8 , 1.81, 1.82, 1.83, 1.84, 1.85, 1.86, 1.87,
       1.88, 1.89, 1.9 , 1.91, 1.92, 1.93, 1.94, 1.95, 1.96, 1.97, 1.98,
       1.99]), 'l1_ratio': array([0.1 , 0.11, 0.12, 0.13, 0.14, 0.15, 0.16, 0.17, 0.18, 0.19, 0.2 ,
       0.21, 0.22, 0.23, 0.24, 0.25, 0.26, 0.27, 0.28, 0.29, 0.3 , 0.31,
       0.32, 0.33, 0.34, 0.35, 0.36, 0.37, 0.38, 0.39, 0.4 , 0.41, 0.42,
       0.43, 0.44, 0.45, 0.46, 0.47, 0.48, 0.49, 0.5 , 0.51, 0.52, 0.53,
       0.54, 0.55, 0.56, 0.57, 0.58, 0.59, 0.6 , 0.61, 0.62, 0.63, 0.64,
       0.65, 0.66, 0.67, 0.68, 0.69, 0.7 , 0.71, 0.72, 0.73, 0.74, 0.75,
       0.76, 0.77, 0.78, 0.79, 0.8 , 0.81, 0.82, 0.83, 0.84, 0.85, 0.86,
       0.87, 0.88, 0.89, 0.9 , 0.91, 0.92, 0.93, 0.94, 0.95, 0.96, 0.97,
       0.98, 0.99]), 'fit_intercept': [True, False], 'precompute': [True, False], 'max_iter': [10, 100, 1000, 10000, 100000], 'warm_start': [True, False], 'positive': [True, False], 'random_state': array([20, 21, 22, 23, 24, 25, 26, 27, 28, 29]), 'selection': ['random', 'cyclic']}

In [33]:
elas = ElasticNet()
elas_random = RandomizedSearchCV(estimator=elas, param_distributions=elas_grid, n_iter=100,
                               cv=5, verbose=2, random_state=41, n_jobs=-1)

elas_random.fit(xtrphilip, ytrphilip)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

Fitting 5 folds for each of 100 candidates, totalling 500 fits

[Parallel(n_jobs=-1)]: Done 500 out of 500 | elapsed:    0.5s finished

RandomizedSearchCV(cv=5, error_score=nan,
                   estimator=ElasticNet(alpha=1.0, copy_X=True,
                                        fit_intercept=True, l1_ratio=0.5,
                                        max_iter=1000, normalize=False,
                                        positive=False, precompute=False,
                                        random_state=None, selection='cyclic',
                                        tol=0.0001, warm_start=False),
                   iid='deprecated', n_iter=100, n_jobs=-1,
                   param_distributions={'alpha': array([1.  , 1.01, 1.02, 1.03, 1.04, 1.05, 1.06,...
       0.87, 0.88, 0.89, 0.9 , 0.91, 0.92, 0.93, 0.94, 0.95, 0.96, 0.97,
       0.98, 0.99]),
                                        'max_iter': [10, 100, 1000, 10000,
                                                     100000],
                                        'positive': [True, False],
                                        'precompute': [True, False],
                                        'random_state': array([20, 21, 22, 23, 24, 25, 26, 27, 28, 29]),
                                        'selection': ['random', 'cyclic'],
                                        'warm_start': [True, False]},
                   pre_dispatch='2*n_jobs', random_state=41, refit=True,
                   return_train_score=False, scoring=None, verbose=2)

In [34]:
elas_random.best_params_

{'warm_start': False,
 'selection': 'random',
 'random_state': 29,
 'precompute': True,
 'positive': True,
 'max_iter': 100,
 'l1_ratio': 0.7399999999999997,
 'fit_intercept': False,
 'alpha': 1.04}

In [35]:
## elasticnet with default hyperparameters
base_elas = ElasticNet()
base_elas.fit(xtrphilip, ytrphilip)
base_elas_accuracy = evaluate(base_elas, xtsphilip, ytsphilip)

Model Performance
Average Error: 1.1615 degrees.
Accuracy = 99.2385%.
RMSE = 1.6146
R2 Score = 0.9764.

In [36]:
## elasticnet with best hyperparameters

best_elas = elas_random.best_estimator_
best_elas.fit(xtrphilip, ytrphilip)
best_elas_accuracy = evaluate(best_elas, xtsphilip, ytsphilip)

Model Performance
Average Error: 1.1588 degrees.
Accuracy = 99.2396%.
RMSE = 1.6215
R2 Score = 0.9762.

In [37]:
## LinearRegression with best hyperparameters
print('best linear:')
best_lnr = lnr_random.best_estimator_
best_lnr.fit(xtrphilip, ytrphilip)
best_lnr_accuracy = evaluate(best_lnr, xtsphilip, ytsphilip)


## Ridge with default hyperparameter
print('base ridge:')
base_rdg = Ridge()
base_rdg.fit(xtrphilip, ytrphilip)
base_rdg_accuracy = evaluate(base_rdg, xtsphilip, ytsphilip)


## Lasso with best hyperparameters
print('best lasso:')
best_las = las_random.best_estimator_
best_las.fit(xtrphilip, ytrphilip)
best_las_accuracy = evaluate(best_las, xtsphilip, ytsphilip)


## elasticnet with best hyperparameters
print('best elasticnet:')
best_elas = elas_random.best_estimator_
best_elas.fit(xtrphilip, ytrphilip)
best_elas_accuracy = evaluate(best_elas, xtsphilip, ytsphilip)

best linear:
Model Performance
Average Error: 1.1594 degrees.
Accuracy = 99.2395%.
RMSE = 1.6158
R2 Score = 0.9764.
base ridge:
Model Performance
Average Error: 1.1594 degrees.
Accuracy = 99.2395%.
RMSE = 1.6158
R2 Score = 0.9764.
best lasso:
Model Performance
Average Error: 1.1588 degrees.
Accuracy = 99.2396%.
RMSE = 1.6215
R2 Score = 0.9762.
best elasticnet:
Model Performance
Average Error: 1.1588 degrees.
Accuracy = 99.2396%.
RMSE = 1.6215
R2 Score = 0.9762.

In [38]:
#create and train the linear regression model
la = best_las
#train the model
# {'solver': 'sag',
#  'max_iter': 100,
#  'fit_intercept': True,
#  'alpha': 1.7200000000000006}
la.fit(xtrphilip, ytrphilip)

import joblib
joblib.dump(la,'regressionphilipi')

im = joblib.load('regressionphilipi')
im

Lasso(alpha=1.07, copy_X=True, fit_intercept=False, max_iter=100,
      normalize=False, positive=False, precompute=False, random_state=23,
      selection='cyclic', tol=0.0001, warm_start=True)

In [39]:
ylrphilip = im.predict(xtsphilip)
# 
dfphilipbaru = pd.DataFrame({ 'yphilip':ytsphilip ,'predictphilip': ylrphilip})
dfphilipbaru

        yphilip  predictphilip
0    160.554562     162.782587
1    129.109380     130.145839
2    161.565729     162.399625
3    164.431089     164.520543
4    148.540093     148.023104
5    132.636106     132.056479
6    151.397205     153.448936
7    148.979722     151.237666
8    176.208032     177.288744
9    171.410763     167.825397
10   156.766355     158.152785
11   142.322648     140.772525
12   163.918533     163.604826
13   168.195350     169.547938
14   141.648451     140.057583
15   151.911192     151.974070
16   168.538738     170.219348
17   147.329899     145.556014
18   155.106081     156.899662
19   148.662793     146.779238
20   145.076500     145.960096
21   175.441163     174.803661
22   159.145326     161.040035
23   143.972011     144.896365
24   175.192041     175.141575
25   154.649263     156.039826
26   155.076772     155.168214
27   148.925819     148.137279
28   176.665620     175.692873
29   160.808506     159.152287
..          ...            ...
372  157.212135     155.898325
373  162.104876     160.806214
374  158.828308     159.878108
375  151.016920     152.515845
376  139.318313     139.396360
377  132.555728     132.107208
378  162.218388     162.995674
379  167.851762     167.773242
380  142.558648     143.579279
381  161.353796     160.583466
382  158.362486     160.492513
383  141.352254     138.483657
384  152.987072     151.323604
385  167.511188     164.603806
386  133.969028     134.499198
387  150.618748     150.415587
388  150.190741     150.592547
389  168.679936     168.677532
390  164.559354     164.499075
391  145.568756     150.705214
392  171.247174     170.743760
393  141.529916     141.646432
394  158.596785     158.946361
395  156.641283     156.130988
396  151.239821     151.389931
397  161.004098     161.383805
398  150.044542     151.145987
399  155.513989     155.494016
400  150.387176     151.339672
401  136.411507     136.409563

[402 rows x 2 columns]

In [40]:
dfkursphilip = df2[['Philippines']]
dfkursphilip

dfkursphilip['predictkursphilip'] = dfkursphilip[['Philippines']].shift(-forecast_out)

dfkursphilip

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

      Philippines  predictkursphilip
0          44.470             44.690
1          44.690             44.540
2          44.540             44.800
3          44.800             44.680
4          44.680             44.600
5          44.600             44.550
6          44.550             44.590
7          44.590             45.100
8          45.100             45.130
9          45.130             45.050
10         45.050             45.130
11         45.130             45.400
12         45.400             45.280
13         45.280             45.300
14         45.300             45.420
15         45.420             45.350
16         45.350             45.210
17         45.210             45.230
18         45.230             45.310
19         45.310             45.400
20         45.400             45.275
21         45.275             45.320
22         45.320             45.180
23         45.180             44.950
24         44.950             44.990
25         44.990             44.940
26         44.940             44.800
27         44.800             44.880
28         44.880             44.580
29         44.580             44.420
...           ...                ...
1578       50.990             50.930
1579       50.930             50.820
1580       50.820             50.910
1581       50.910             50.810
1582       50.810             50.830
1583       50.830             50.860
1584       50.860             50.810
1585       50.810             50.840
1586       50.840             51.040
1587       51.040             51.080
1588       51.080             50.960
1589       50.960             50.790
1590       50.790             50.800
1591       50.800             50.810
1592       50.810             50.740
1593       50.740             50.770
1594       50.770             50.580
1595       50.580             50.600
1596       50.600             50.540
1597       50.540             50.570
1598       50.570             50.650
1599       50.650             50.590
1600       50.590             50.760
1601       50.760             50.820
1602       50.820             50.800
1603       50.800             50.820
1604       50.820             50.700
1605       50.700             50.810
1606       50.810             50.780
1607       50.780                NaN

[1608 rows x 2 columns]

In [41]:
xkursphilip = np.array(dfkursphilip.drop(['predictkursphilip'], axis=1))

xkursphilip
#remove the 'n' rows
xkursphilip = xkursphilip[:-forecast_out]
xkursphilip

array([[44.47],
       [44.69],
       [44.54],
       ...,
       [50.82],
       [50.7 ],
       [50.81]])

In [42]:
ykursphilip = np.array(dfkursphilip['predictkursphilip'])

ykursphilip
#remove the 'n' rows
ykursphilip = ykursphilip[:-forecast_out]
ykursphilip

array([44.69, 44.54, 44.8 , ..., 50.7 , 50.81, 50.78])

In [43]:
from sklearn.model_selection import train_test_split

xtrkphilip, xtskphilip, ytrkphilip, ytskphilip = train_test_split(xkursphilip, ykursphilip, random_state=5)
xtrkphilip

array([[45.13 ],
       [48.189],
       [46.61 ],
       ...,
       [50.331],
       [44.98 ],
       [49.56 ]])

In [44]:
lnr_random.fit(xtrkphilip, ytrkphilip)

Fitting 5 folds for each of 16 candidates, totalling 80 fits

//anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_search.py:281: UserWarning: The total space of parameters 16 is smaller than n_iter=100. Running 16 iterations. For exhaustive searches, use GridSearchCV.
  % (grid_size, self.n_iter, grid_size), UserWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  80 out of  80 | elapsed:    0.1s finished

RandomizedSearchCV(cv=5, error_score=nan,
                   estimator=LinearRegression(copy_X=True, fit_intercept=True,
                                              n_jobs=None, normalize=False),
                   iid='deprecated', n_iter=100, n_jobs=-1,
                   param_distributions={'copy_X': [True, False],
                                        'fit_intercept': [True, False],
                                        'n_jobs': ['int', None],
                                        'normalize': [True, False]},
                   pre_dispatch='2*n_jobs', random_state=41, refit=True,
                   return_train_score=False, scoring=None, verbose=2)

In [45]:
lnr_random.best_params_

{'normalize': True, 'n_jobs': 'int', 'fit_intercept': False, 'copy_X': True}

In [46]:
## LinearRegression with default hyperparameters

base_lnr = LinearRegression()
base_lnr.fit(xtrkphilip, ytrkphilip)
base_lnr_accuracy = evaluate(base_lnr, xtskphilip, ytskphilip)

Model Performance
Average Error: 0.1161 degrees.
Accuracy = 99.7642%.
RMSE = 0.1546
R2 Score = 0.9976.

In [47]:
## LinearRegression with default best hyperparameters

best_lnr = lnr_random.best_estimator_
best_lnr.fit(xtrkphilip, ytrkphilip)
best_lnr_accuracy = evaluate(best_lnr, xtskphilip, ytskphilip)

Model Performance
Average Error: 0.1163 degrees.
Accuracy = 99.7638%.
RMSE = 0.1548
R2 Score = 0.9976.

## Ridge

In [48]:
rdg_random.fit(xtrkphilip, ytrkphilip)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

Fitting 5 folds for each of 100 candidates, totalling 500 fits

[Parallel(n_jobs=-1)]: Done 500 out of 500 | elapsed:    0.5s finished

RandomizedSearchCV(cv=5, error_score=nan,
                   estimator=Ridge(alpha=1.0, copy_X=True, fit_intercept=True,
                                   max_iter=None, normalize=False,
                                   random_state=None, solver='auto',
                                   tol=0.001),
                   iid='deprecated', n_iter=100, n_jobs=-1,
                   param_distributions={'alpha': array([1.  , 1.01, 1.02, 1.03, 1.04, 1.05, 1.06, 1.07, 1.08, 1.09, 1.1 ,
       1.11, 1.12, 1.13, 1.14, 1.15, 1.16, 1.17, 1.18, 1.19, 1.2 , 1.21,...
       1.66, 1.67, 1.68, 1.69, 1.7 , 1.71, 1.72, 1.73, 1.74, 1.75, 1.76,
       1.77, 1.78, 1.79, 1.8 , 1.81, 1.82, 1.83, 1.84, 1.85, 1.86, 1.87,
       1.88, 1.89, 1.9 , 1.91, 1.92, 1.93, 1.94, 1.95, 1.96, 1.97, 1.98,
       1.99]),
                                        'fit_intercept': [True, False],
                                        'max_iter': [10, 100, 1000, 10000,
                                                     100000],
                                        'solver': ['auto', 'svd', 'cholesky',
                                                   'lsqr', 'sparse_cg', 'sag',
                                                   'saga']},
                   pre_dispatch='2*n_jobs', random_state=41, refit=True,
                   return_train_score=False, scoring=None, verbose=2)

In [49]:
rdg_random.best_params_

{'solver': 'sag',
 'max_iter': 100,
 'fit_intercept': True,
 'alpha': 1.7200000000000006}

In [50]:
## Ridge with default hyperparameter
base_rdg = Ridge()
base_rdg.fit(xtrkphilip, ytrkphilip)
base_rdg_accuracy = evaluate(base_rdg, xtskphilip, ytskphilip)

Model Performance
Average Error: 0.1161 degrees.
Accuracy = 99.7643%.
RMSE = 0.1546
R2 Score = 0.9976.

In [51]:
## Ridge with best hyperparameters

best_rdg = rdg_random.best_estimator_
best_rdg.fit(xtrkphilip, ytrkphilip)
best_rdg_accuracy = evaluate(best_rdg, xtskphilip, ytskphilip)

Model Performance
Average Error: 0.1161 degrees.
Accuracy = 99.7643%.
RMSE = 0.1543
R2 Score = 0.9976.

## Lasso

In [52]:
las_random.fit(xtrkphilip, ytrkphilip)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

Fitting 5 folds for each of 100 candidates, totalling 500 fits

[Parallel(n_jobs=-1)]: Done 500 out of 500 | elapsed:    0.4s finished

RandomizedSearchCV(cv=5, error_score=nan,
                   estimator=Lasso(alpha=1.0, copy_X=True, fit_intercept=True,
                                   max_iter=1000, normalize=False,
                                   positive=False, precompute=False,
                                   random_state=None, selection='cyclic',
                                   tol=0.0001, warm_start=False),
                   iid='deprecated', n_iter=100, n_jobs=-1,
                   param_distributions={'alpha': array([1.  , 1.01, 1.02, 1.03, 1.04, 1.05, 1.06, 1.07, 1.08, 1.09, 1.1...
       1.88, 1.89, 1.9 , 1.91, 1.92, 1.93, 1.94, 1.95, 1.96, 1.97, 1.98,
       1.99]),
                                        'fit_intercept': [True, False],
                                        'max_iter': [10, 100, 1000, 10000,
                                                     100000],
                                        'precompute': [True, False],
                                        'random_state': array([20, 21, 22, 23, 24, 25, 26, 27, 28, 29]),
                                        'selection': ['random', 'cyclic'],
                                        'warm_start': [True, False]},
                   pre_dispatch='2*n_jobs', random_state=41, refit=True,
                   return_train_score=False, scoring=None, verbose=2)

In [53]:
las_random.best_params_

{'warm_start': True,
 'selection': 'cyclic',
 'random_state': 23,
 'precompute': False,
 'max_iter': 100,
 'fit_intercept': False,
 'alpha': 1.07}

In [54]:
## lasso with default hyperparameters

base_las = Lasso()
base_las.fit(xtrkphilip, ytrkphilip)
base_las_accuracy = evaluate(base_rdg, xtskphilip, ytskphilip)

Model Performance
Average Error: 0.1161 degrees.
Accuracy = 99.7643%.
RMSE = 0.1546
R2 Score = 0.9976.

In [55]:
## Lasso with best hyperparameters

best_las = las_random.best_estimator_
best_las.fit(xtrkphilip, ytrkphilip)
best_las_accuracy = evaluate(best_las, xtskphilip, ytskphilip)

Model Performance
Average Error: 0.1186 degrees.
Accuracy = 99.7591%.
RMSE = 0.1563
R2 Score = 0.9975.

## Elastic

In [56]:
elas_random.fit(xtrkphilip, ytrkphilip)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

Fitting 5 folds for each of 100 candidates, totalling 500 fits

[Parallel(n_jobs=-1)]: Done 500 out of 500 | elapsed:    0.6s finished

RandomizedSearchCV(cv=5, error_score=nan,
                   estimator=ElasticNet(alpha=1.0, copy_X=True,
                                        fit_intercept=True, l1_ratio=0.5,
                                        max_iter=1000, normalize=False,
                                        positive=False, precompute=False,
                                        random_state=None, selection='cyclic',
                                        tol=0.0001, warm_start=False),
                   iid='deprecated', n_iter=100, n_jobs=-1,
                   param_distributions={'alpha': array([1.  , 1.01, 1.02, 1.03, 1.04, 1.05, 1.06,...
       0.87, 0.88, 0.89, 0.9 , 0.91, 0.92, 0.93, 0.94, 0.95, 0.96, 0.97,
       0.98, 0.99]),
                                        'max_iter': [10, 100, 1000, 10000,
                                                     100000],
                                        'positive': [True, False],
                                        'precompute': [True, False],
                                        'random_state': array([20, 21, 22, 23, 24, 25, 26, 27, 28, 29]),
                                        'selection': ['random', 'cyclic'],
                                        'warm_start': [True, False]},
                   pre_dispatch='2*n_jobs', random_state=41, refit=True,
                   return_train_score=False, scoring=None, verbose=2)

In [57]:
elas_random.best_params_

{'warm_start': False,
 'selection': 'random',
 'random_state': 29,
 'precompute': True,
 'positive': True,
 'max_iter': 100,
 'l1_ratio': 0.7399999999999997,
 'fit_intercept': False,
 'alpha': 1.04}

In [58]:
## elasticnet with default hyperparameters
base_elas = ElasticNet()
base_elas.fit(xtrkphilip, ytrkphilip)
base_elas_accuracy = evaluate(base_elas, xtskphilip, ytskphilip)

Model Performance
Average Error: 0.2648 degrees.
Accuracy = 99.4542%.
RMSE = 0.3100
R2 Score = 0.9903.

In [59]:
## elasticnet with best hyperparameters

best_elas = elas_random.best_estimator_
best_elas.fit(xtrkphilip, ytrkphilip)
best_elas_accuracy = evaluate(best_elas, xtskphilip, ytskphilip)

Model Performance
Average Error: 0.1185 degrees.
Accuracy = 99.7593%.
RMSE = 0.1562
R2 Score = 0.9975.

In [60]:

## LinearRegression with best hyperparameters
print('best linear:')
best_lnr = lnr_random.best_estimator_
best_lnr.fit(xtrkphilip, ytrkphilip)
best_lnr_accuracy = evaluate(best_lnr, xtskphilip, ytskphilip)

## Ridge with default hyperparameter
print('base ridge:')
base_rdg = Ridge()
base_rdg.fit(xtrkphilip, ytrkphilip)
base_rdg_accuracy = evaluate(base_rdg, xtskphilip, ytskphilip)

## lasso with default hyperparameters
print('base lasso:')
base_las = Lasso()
base_las.fit(xtrkphilip, ytrkphilip)
base_las_accuracy = evaluate(base_rdg, xtskphilip, ytskphilip)


## elasticnet with best hyperparameters
print('best elasticnet:')
best_elas = elas_random.best_estimator_
best_elas.fit(xtrkphilip, ytrkphilip)
best_elas_accuracy = evaluate(best_elas, xtskphilip, ytskphilip)

best linear:
Model Performance
Average Error: 0.1163 degrees.
Accuracy = 99.7638%.
RMSE = 0.1548
R2 Score = 0.9976.
base ridge:
Model Performance
Average Error: 0.1161 degrees.
Accuracy = 99.7643%.
RMSE = 0.1546
R2 Score = 0.9976.
base lasso:
Model Performance
Average Error: 0.1161 degrees.
Accuracy = 99.7643%.
RMSE = 0.1546
R2 Score = 0.9976.
best elasticnet:
Model Performance
Average Error: 0.1185 degrees.
Accuracy = 99.7593%.
RMSE = 0.1562
R2 Score = 0.9975.

In [61]:
#create and train the linear regression model
ri = base_rdg
# {'normalize': True, 'n_jobs': 'int', 'fit_intercept': False, 'copy_X': True}
#train the model {'normalize': True, 'fit_intercept': False}
ri.fit(xtrkphilip, ytrkphilip)

import joblib
joblib.dump(ri,'regressionphilip')

jm = joblib.load('regressionphilip')
jm

Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [62]:
ylrk = jm.predict(xtskphilip)
dfphilipkbaru = pd.DataFrame({ 'ykphilip':ytskphilip ,'predictphilip': ylrk})
dfphilipkbaru

     ykphilip  predictphilip
0      50.887      50.650770
1      53.008      53.219177
2      43.641      43.730063
3      45.675      45.487973
4      52.428      52.432665
5      53.598      53.495006
6      52.240      52.071889
7      51.927      51.703117
8      44.320      44.226755
9      44.040      44.196773
10     51.360      51.331348
11     53.284      53.401064
12     50.769      50.801676
13     45.078      45.086222
14     47.760      47.504722
15     46.730      46.715211
16     44.530      44.646494
17     52.410      52.627544
18     50.810      50.562825
19     52.490      52.386693
20     49.869      49.760322
21     44.360      44.216761
22     44.438      44.560548
23     44.660      44.606519
24     44.730      44.706457
25     50.679      50.561825
26     50.930      50.992558
27     48.530      48.343201
28     50.939      50.773694
29     51.589      51.950964
..        ...            ...
372    43.840      43.846990
373    51.604      51.591187
374    43.450      43.397269
375    52.010      51.892000
376    52.150      52.390691
377    45.130      45.106209
378    44.920      44.946309
379    45.130      45.093217
380    50.300      50.233029
381    49.520      49.563445
382    46.308      46.165552
383    49.680      49.588429
384    52.600      52.386693
385    46.030      46.165552
386    53.726      53.800816
387    52.380      52.451653
388    52.060      52.011926
389    49.990      49.993178
390    45.785      45.795782
391    48.905      48.494108
392    49.977      49.990180
393    47.800      47.764560
394    44.790      44.776414
395    49.900      49.923221
396    51.701      51.651150
397    51.250      51.102490
398    52.310      52.181820
399    43.785      43.797021
400    44.760      44.736439
401    54.123      54.123616

[402 rows x 2 columns]

In [63]:
kphilip = (input('kursphilip: ')).split(',')
kuphilip1 = []
for i in kphilip:
    a  = float(i)
    kuphilip1.append(a)
kuphilip1 = np.array(kuphilip1)
if kuphilip1.shape[0] == 1:
    kuphilip = kuphilip1.reshape(1,1)
else:
    kuphilip = np.array(kuphilip1).reshape(-1,1)

kuphilip1

kursphilip: 20000,22000

array([20000., 22000.])

In [64]:
kursphilip = jm.predict(kuphilip)

kursphilip

array([19987.63600364, 21986.39618729])

In [66]:
x = (input('insertphilip: ')).split(',')
# x = np.array(x)
q = []
for i in range(len(x)):
    c = float(x[i])
    q.append(c)
q = np.array(q)

if len(q) == len(kursphilip):
    divide = q / kuphilip1
    print(divide)
    if divide.shape[0] == 1:
        divide = divide.reshape(1,1)
        ylr = im.predict(divide)
        ylr
        ylrcon = ylr * kursphilip
        ylrcon
        conawal = q/kuphilip1
        returncona = []
        for i in range(len(ylr)):
            returncon = (ylr[i]-conawal[i])/conawal[i]
            returncona.append(returncon)
    else:
        divide = np.array(divide).reshape(-1,1)
        ylr = im.predict(divide)
        ylr
        ylrcon = ylr * kursphilip
        ylrcon
        conawal = q/kuphilip1
        returncona = []
        for i in range(len(ylr)):
            returncon = (ylr[i]-conawal[i])/conawal[i]
            returncona.append(returncon)

else:
#     print('length should be the same')
    divide = 'length should be the same'
    ylr = divide
    conawal = divide
    returncona = []
    for i in range(len(ylr)):
        returncon = (ylr[i]-conawal[i])/conawal[i]
        returncona.append(returncon)

returncona

insertphilip: 1000,2000
[0.05       0.09090909]

[-1.4253702844413407e-05, -1.4253702844385652e-05]